:root{
    --app-color: #086077;
    --colr-white:#FFF;
}
a{
    text-decoration: none;
}
.app_color{
    background-color: var(--app-color);
}
.bg_banner{
    background: linear-gradient(180deg, rgb(8 95 118) 0%, rgb(10 99 122) 54%, rgb(38 120 137) 100%);
}
.btn-primary{
    background-color: var(--app-color) !important;
    border-color: var(--app-color);
}
.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 2rem;
}
.fa_color{
    --color: var(--app-color);
    font-size: 35px;
}
.text_default{
    color: var(--app-color);
}
.portfolio_card{
    border-radius: 5px;
    transition: background-color 600ms linear;
    -webkit-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
    -o-transition: background-color 600ms linear;
    -ms-transition: background-color 600ms linear;
}
.portfolio_card:hover{
    background-color: var(--app-color);
}
.feature{
    border-radius: 25px;
    transition: box-shadow 1s linear;
}
.portfolio_card:hover .feature{
    box-shadow: 0px 0px 0px 3px ;
}
.portfolio_card:hover .text_default{
    color: var(--colr-white);
}
